* {
    box-sizing: border-box;
    text-align: center;
    background-color: #626263;
    font-family: Arial, Helvetica, sans-serif;
  }

header {
    color: #626263;
    background-color: #d9d9dd;
    padding: 25px;  
    margin: 5px 200px 5px 200px;
}

.nav {
    color: #626263;
    background-color: #d9d9dd;
    padding: 25px;
    margin: 5px 200px 10px 200px;
}

#section1 {
    float: left;
    text-align: center;
    margin: 20px 20px 20px 200px;
}

section {
    width: 45%;
    height: 300px;
    color: #626263;
    background-color: #d9d9dd;
    float: left; 
}

article {
    color: #d9d9dd;
    background-color: #626263;
    float: left;
}

h1 {
    float: left;

}

p {
    float: left;

}

aside {
    float: left;
    color: #626263;
    background-color: #d9d9dd;
    width: 25.7%;
    height: 300px;
    margin: 20px 200px 20px 20px;
}

footer {   
    clear:both;
    overflow: auto;
}